@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
*,
*:before,
*:after {
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  font: inherit;
}
img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
input,
select,
textarea {
  background-color: transparent;
  outline: none;
}
button {
  cursor: pointer;
  background-color: transparent;
  outline: none;
  border: 0;
}
body {
  min-height: 100vh;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.42857143;
  color: #1c1c1c;
}
/* -webkit-user-select: none; /* Safari */
/* -moz-user-select: none; Firefox */
/* -ms-user-select: none; IE/Edge */
/* user-select: none; */
::selection {
  background: #00b14f;
  color: #fff;
}
a {
  text-decoration: none !important;
  color: #676767;
}
.container-display-appWeb {
  width: 100%;
  height: 100%;
  position: relative;
}
.container-pageHome {
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: 9999999;
}

.box-headerHome {
  max-width: 100%;
  height: 88px;
  position: sticky;
  background-color: inherit;
  top: 0;
  z-index: 999;
}
.container-title-grapfoodhome {
  height: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-grapfood {
  height: 50px;
  width: 143px;
}
.box-option-menu-action {
  height: 40px;
  min-width: 200px;
  max-width: 500px;
  display: flex;
}
.btn-add-cart {
  width: 42px;
  height: 100%;
  border: 1px solid #f0efef;
  border-radius: 4px;
  margin: 0 6px 0 6px;
  display: flex;
  align-items: center;
  background-color: white;
}
.icon-btn-add-cart {
  background-image: url(https://food.grab.com/static/images/icons/icon-cart-default-black.svg);
  width: 16px;
  height: 16px;
  background-repeat: no-repeat;
  background-size: 16px 16px;
  margin: auto;
}
.btn-loggin-resgister {
  font-weight: 500;
  font-size: 12px;
  width: 140px;
  height: 100%;
  border: 1px solid #f0efef;
  border-radius: 4px;
  margin: 0 6px 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  color: #676767;
}
.btn-choose-language {
  font-weight: 500;
  font-size: 12px;
  width: 50px;
  height: 100%;
  border: 1px solid #f0efef;
  border-radius: 4px;
  margin: 0 6px 0 6px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  gap: 3px;
}
.icon-show-list-language {
  height: 16px;
  width: 16px;
  display: flex;
  justify-content: center;
}
.icon-show-list-language::before {
  content: '';
  position: absolute;
  top: 39px;
  height: 7px;
  width: 7px;
  border: 1px solid #676767;
  border-top: 0;
  border-left: 0;
  transform: rotate(40deg);
}
.container-body-grapfood-home {
  width: 100%;
  height: fit-content;
  background-color: #ffffff;
  margin-top: -88px;
}
.background-grapfood-home {
  width: 100%;
  height: 320px;
  /* background-image: url(https://food.grab.com/static/page-home/VN-new-4.jpg); */
  background-size: cover;
  background-position: 50%;
}
.border-between-backgroundHome-centenHome {
  width: 100%;
  height: 2px;
  border: 1px solid #e5e9f0;
  margin-top: 80px;
  margin-bottom: 16px;
}
.center-home-grapfood {
  padding-top: 48px;
  width: 100%;
  height: fit-content;
}
.special-offers-grapfoodhome {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: fit-content;
}
.title-special-offers-grapfoodhome,
.box-detail-own-restaurant .name-own-restaurant {
  font-size: 2.57142857rem;
  line-height: 1.33333333;
  margin-bottom: 48px;
  font-weight: bold;
  padding: 0 5px 0 5px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;

  overflow: hidden;
}
.text-location-special-offers {
  color: #00b14f;
}
.container-food-special-offers {
  width: 1200px;
  height: fit-content;
}
.list-food-special-offers {
  width: 1200px;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.list-food-special-offers .box-itemFood {
  width: 282px;
  height: 350px;
  padding: 0 5px 0 5px;
}
.list-food-special-offers a,
.item-food-special-offers {
  width: 100%;
  height: fit-content;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33333333;
  color: #1c1c1c;
}
.list-food-special-offers a {
  padding: 0;
  text-decoration: none;
}
.item-food-special-offers img {
  width: 282px;
  height: 155px;
  border-radius: 8px;
}
.info-item-food-special-offers {
  width: 100%;
  height: fit-content;
  margin-top: 12px;
}
.info-item-food-special-offers p {
  margin-bottom: 10px;
}
.more-info-item-food-special-offers {
  width: 100%;
  height: fit-content;
  color: #676767;
}
.more-info-item-food-special-offers .text {
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: 400;
  overflow: hidden !important;
  height: 20px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  margin-bottom: 3px;
}
.more-info-item-food-special-offers .box-info,
.box-detail-own-restaurant .box-info,
.box-detail-own-restaurant h3,
.time-open-own-restaurant {
  height: 24px;
  width: 100%;
  display: flex;
  font-size: 14px;
  color: #676767;
}
.more-info-item-food-special-offers .box-info .rating-food,
.box-detail-own-restaurant .box-info .rating-food {
  height: 100%;
  width: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.more-info-item-food-special-offers .box-info .rating-food .icon-rating,
.box-detail-own-restaurant .box-info .rating-food .icon-rating {
  width: 24px;
  height: 24px;
  background-image: url(https://food.grab.com/static/images/icons/icon-star.svg);
  background-repeat: no-repeat;
  margin-right: 8px;
  background-position: center;
  background-size: contain;
}
.more-info-item-food-special-offers .box-info .paragraph-info,
.box-detail-own-restaurant .box-info .paragraph-info {
  margin-left: 6%;
  height: 100%;
  min-width: 100px;
  max-width: 170px;
  display: flex;
  align-items: center;
}
.more-info-item-food-special-offers .box-info .paragraph-info .icon-info-minutes,
.box-detail-own-restaurant .box-info .paragraph-info .icon-info-minutes {
  background-image: url(https://food.grab.com/static/images/icons/icon-clock.svg);
  background-position: center;
  margin-right: 8px;
  width: 24px;
  height: 24px;
}
.more-info-item-food-special-offers .special-offers,
.box-detail-own-restaurant .special-offers {
  margin-top: 4px;
  width: 100%;
  height: 28px;
  display: flex;
  color: rgb(28, 28, 28);
  font-size: 14px;
  justify-content: center;
  align-items: center;
}
.more-info-item-food-special-offers .special-offers .icon,
.box-detail-own-restaurant .special-offers .icon {
  background-image: url(https://food.grab.com/static/images/icons/icon-promo-tag.svg);
  width: 24px;
  height: 24px;
  background-position: center;
  margin-right: 8px;
}
.more-info-item-food-special-offers .paragraph-note-close-window {
  width: 272px;
  height: 33px;
  margin-top: 5px;
  border-top: 1px solid #f0efef;
  padding-top: 13px;
  font-size: 14px;
}
.btn-show-all-food-grapfood-home {
  width: 1188px;
  height: 46px;
  border: 1px solid #676767;
  border-radius: 6px;
  color: #676767;
  font-size: 14px;
  font-weight: 700;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.categories-grapfoodhome {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: fit-content;
  padding-top: 48px;
  padding-bottom: 40px;
}
.categories-grapfoodhome .title-special-offers-grapfoodhome {
  margin-bottom: 48px;
}
.container-categories {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.categories-grapfoodhome .box-item-category a,
.categories-grapfoodhome .box-item-category {
  width: 282px;
  height: 246px;
  text-decoration: none;
}
.why-choose-grapfoodhome {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  height: 647px;
}
.why-choose-grapfoodhome ul {
  list-style-image: url(https://food.grab.com/static/images/tick.svg);
  list-style-position: outside;
  list-style-type: disc;
  padding-left: 25px;
  margin-bottom: 30px;
}
.why-choose-grapfoodhome li {
  margin-bottom: 16px;
  font-size: 14px;
  line-height: 1.42857143;
}
.why-choose-grapfoodhome li .title {
  font-weight: bold;
}
.why-choose-grapfoodhome .title-special-offers-grapfoodhome {
  margin-bottom: 20px;
}
.why-choose-grapfoodhome h3 {
  font-size: 27px;
  margin-bottom: 20px;
  font-weight: 600;
  padding: 0 5px 0 5px;
}
.why-choose-grapfoodhome p,
.bottom-of-center-home-grapfood .box .box-curated-restaurants p {
  line-height: 1.42857143;
  font-size: 14px;
  color: #1c1c1c;
  padding: 0 5px 0 5px;
  margin-bottom: 20px;
}
.bottom-of-center-home-grapfood {
  width: 100%;
  height: fit-content;
  background-color: #f7f7f7;
}
.bottom-of-center-home-grapfood .box {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: auto;
}
.bottom-of-center-home-grapfood .box .box-curated-restaurants {
  width: 600px;
  height: 325px;
}
.bottom-of-center-home-grapfood .box .box-curated-restaurants img,
.bottom-of-center-home-grapfood .box .box-curated-restaurants h3,
.bottom-of-center-home-grapfood .box .box-curated-restaurants p,
.bottom-of-center-home-grapfood .box .box-more-cool-features-available-on-the-app h3,
.bottom-of-center-home-grapfood .box .box-more-cool-features-available-on-the-app p {
  margin: auto;
  text-align: center;
}
.bottom-of-center-home-grapfood .box .box-curated-restaurants h3,
.bottom-of-center-home-grapfood .box .box-more-cool-features-available-on-the-app h3 {
  font-size: 1.42857143rem;
  margin-bottom: 20px;
  font-weight: 600;
  padding: 0 5px 0 5px;
}
.bottom-of-center-home-grapfood .box .box-curated-restaurants p,
.bottom-of-center-home-grapfood .box .box-more-cool-features-available-on-the-app p {
  width: 75%;
  height: fit-content;
  color: #676767;
}
.bottom-of-center-home-grapfood .box .box-more-cool-features-available-on-the-app {
  width: 600px;
  height: fit-content;
}
.bottom-of-center-home-grapfood .box .box-more-cool-features-available-on-the-app img {
  width: 150px;
  height: 150px;
  margin: auto;
  text-align: center;
}
.bottom-of-center-home-grapfood .box .box-more-cool-features-available-on-the-app div {
  width: 60%;
  height: 150px;
  display: flex;
  margin: auto;
}
.box-footerHome {
  background-color: #00b14f;
  width: 100%;
  height: 428px;
  padding-top: 30px;
}
.box-footerHome .box img {
  width: auto;
  height: 60px;
}
.box-footerHome .box {
  width: 100%;
  max-width: 1200px;
  height: 100%;
  margin: auto;
}
.box-footerHome .box .border {
  border-bottom: 1px solid hsl(146.61deg 53.45% 54.51%);
}
.link-about-info-grapfoodhome-footer {
  width: 100%;
  height: 156px;
  display: flex;
  margin-top: 40px;
}
.link-about-info-grapfoodhome-footer .item {
  width: 300px;
  height: 100%;
  font-size: 1.14285714rem;
  color: white;
}
.link-about-info-grapfoodhome-footer .item .aaaaa {
  height: 52px;
  width: 100%;
}
.link-about-info-grapfoodhome-footer .box-img {
  display: flex;
}
.dowload-app-and-about-footer {
  width: 100%;
  height: 57px;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dowload-app-and-about-footer .dowload-app,
.dowload-app-and-about-footer .about-footer {
  display: flex;
  gap: 20px;
  color: #fff;
}
.container-food-Com-location {
  width: 100%;
  height: 2000px;
}
.header-choose-option-food {
  width: 100%;
  height: 222px;
  border-bottom: 8px solid #f7f7f7;
}
.header-choose-option-food .box-choose-option-food {
  width: 1200px;
  height: 222px;
  margin: auto;
}
.box-choose-option-food .box-input-search {
  height: 40px;
  width: 100%;
  border-radius: 20px;
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  gap: 15px;
  padding-left: 20px;
}
.box-choose-option-food .box-input-search .icon-search {
  background-image: url(images/look.png);
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.box-choose-option-food .box-input-search input {
  width: 100%;
  border: 0;
}
.header-choose-option-food .box-choose-option-food .options {
  width: 100%;
  height: 112px;
  display: flex;
  justify-content: space-between;
}
.item-options-restaurant-location {
  width: 179px;
  height: 100%;
  position: relative;
  margin-top: 25px;
}
.item-options-restaurant-location img {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  filter: brightness(50%);
}
.item-options-restaurant-location p {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 400;
}
.body-choose-option-food {
  width: 100%;
  height: fit-content;
  margin-top: 70px;
}
.container-detail-restaurant-foodRice {
  position: relative;
  width: 100%;
  height: fit-content;
}
.detail-restaurant-foodRice {
  width: 100%;
  height: 100%;
}
.info-detail-restaurant-header,
.body-detail-restaurant-foodRice .box-body {
  padding-top: 70px;
  width: 1200px;
  height: fit-content;
  margin: auto;
}

.info-detail-restaurant-header .title-special-offers-grapfoodhome {
  font-size: 40px;
}
.box-detail-own-restaurant .name-own-restaurant,
.box-detail-own-restaurant .box-info,
.box-detail-own-restaurant .name-food {
  margin-bottom: 10px;
  padding: 0;
}
.box-detail-own-restaurant h3 {
  font-size: 16px;
}
.box-detail-own-restaurant .box-info .rating-food .icon-rating {
  width: 18px;
  height: 18px;
}
.box-detail-own-restaurant .box-info,
.time-open-own-restaurant {
  font-size: 16px;
}
.time-open-own-restaurant h3 {
  margin-bottom: 10px;
  font-weight: 600;
  width: 120px;
}
.box-detail-own-restaurant .special-offers,
.info-food-own-restaurant h3 {
  width: fit-content;
  font-size: 16px;
}
.box-date-time-order-food-own-restaurant {
  display: flex;
  gap: 20px;
  margin-top: 10px;
}
.delivery-date,
.delivery-hours {
  width: 376px;
  height: 46px;
  border: 1px solid #f0efef;
  border-radius: 6px;
  display: flex;
  align-items: center;
  font-size: 15px;
}
.box-date-time-order-food-own-restaurant .delivery-date .icon {
  background-image: url(https://food.grab.com/static/images/icons/icon-calendar.svg);
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 5px;
}
.box-date-time-order-food-own-restaurant .delivery-hours .icon {
  background-image: url(https://food.grab.com/static/images/icons/icon-clock.svg);
  width: 24px;
  height: 24px;
  margin-right: 10px;
  margin-left: 5px;
}
.body-detail-restaurant-foodRice {
  width: 100%;
  height: fit-content;
  background-color: #f7f7f7;
  margin-top: 50px;
}
.content-body-detail-restaurant-foodRice {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* .content-body-detail-restaurant-foodRice {
  margin-bottom: 10px;
  width: 384px;
  height: 170px;
} */
.item-food-own-restaurant {
  margin-bottom: 20px;
  width: 384px;
  height: 170px;
  background-color: white;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.opacity {
  opacity: 0.7;
  filter: brightness(90%);
}
.item-food-own-restaurant img {
  width: 128px;
  height: 128px;
  border-radius: 6px;
}
.displayNone {
  display: none;
}
.info-food-own-restaurant {
  width: 220px;
  height: 100%;
}
.info-food-own-restaurant h3 {
  color: rgb(28, 28, 28);
  width: 100%;
  height: 33%;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  margin-bottom: 10px;
}
.info-food-own-restaurant .box-note-discount-price {
  width: 150px;
  height: 100%;
}
.info-food-own-restaurant .box-note-discount-price .note {
  width: 100%;
  height: 50px;
}
.info-food-own-restaurant .box-note-discount-price .note .discount {
  padding: 2px;
  background-color: rgba(243, 134, 33, 0.3);
  border-radius: 2px;
  color: #f38621;
  font-weight: 500;
  font-size: 12px;
}
.info-food-own-restaurant .box-note-discount-price .note .real-price {
  font-size: 14px;
  color: #b7b7b7;
  text-decoration: line-through;
  margin-left: 7px;
}
.info-food-own-restaurant .box-note-discount-price h4 {
  font-size: 20px;
  font-weight: 500;
}
.info-food-own-restaurant .box-price-and-btnAdd {
  height: 61%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.info-food-own-restaurant .box-price-and-btnAdd .btn-add-food {
  width: 70px;
  height: 100%;
  position: relative;
}
.btn-add-food p {
  width: 32px;
  height: 32px;
  background-color: #00b14f;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 25px;
  font-weight: 500;
  padding-bottom: 8px;
  position: absolute;
  bottom: 3px;
  right: 3px;
}
.drawer-order-food {
  width: 100%;
  height: 100%;
  background-color: inherit;
  position: fixed;
  z-index: 10000000000;
  right: 0;
  left: 0;
  bottom: 0;
  top: 0;
  display: none;
}
.showDrawer {
  display: block;
}
.HideDrawer {
  display: none;
}
.container-pageHome .HideDisplayPage {
  opacity: 0.8;
  filter: brightness(30%);
  pointer-events: none;
  z-index: -1;
}
.container-pageHome .ShowDisplayPage {
  opacity: 1;
  filter: brightness(0%);
  pointer-events: auto;
}
.container-drawer-order-food {
  display: flex;
  width: 100%;
  height: 100%;
}
.container-drawer-order-food span {
  width: 69%;
  height: 100%;
  background-color: inherit;
}
.drawer-order-food .box-content-drawer-order-food {
  width: 31%;
  height: 100%;
  background-color: white;
}
.header-box-content-drawer-order-food {
  height: 10%;
  width: 100%;
  border-bottom: 1px solid #f0efef;
  padding-left: 25px;
  display: flex;
  align-items: center;
  position: sticky;
  top: 0;
  cursor: pointer;
}
.box-content-drawer-order-food .content {
  height: 77%;
  overflow: auto;
}
.box-content-drawer-order-food .info {
  width: 100%;
  min-height: 120px;
  max-height: fit-content;
  border-bottom: 7px solid #f0efef;
  display: flex;
  padding: 15px;
}

.box-content-drawer-order-food .info img {
  width: 93px;
  height: 93px;
  border-radius: 6px;
}
.box-content-drawer-order-food .info h3 {
  margin-left: 10px;
  font-weight: bold;
  font-size: 16px;
  width: 190px;
}
.box-content-drawer-order-food .info .price {
  height: 100%;
  width: 110px;
  text-align: end;
}
.box-content-drawer-order-food .info .price h4 {
  font-size: 18px;
  font-weight: 600;
}
.box-content-drawer-order-food .info .price h6 {
  text-decoration: line-through;
  font-size: 14px;
}
.selection-option-supp-food {
  width: 100%;
  min-height: 120px;
  max-height: fit-content;
  overflow: auto;
  touch-action: auto;
  border-bottom: 7px solid #f0efef;
  padding: 15px;
}
.box-content-drawer-order-food .box-note {
  border: 0;
}
.box-content-drawer-order-food .box-note input {
  width: 100%;
  height: 40px;
  border: 1px solid #f0efef;
  border-radius: 6px;
  padding-left: 10px;
}
.header-selection-option-supp-food {
  width: 100%;
  height: fit-content;
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}
.header-selection-option-supp-food h4 {
  padding: 0;
  font-weight: 600;
  font-size: 17px;
  width: fit-content;
  height: 24px;
  display: flex;
  align-items: center;
}
.header-selection-option-supp-food h5 {
  font-size: 13px;
  width: fit-content;
  height: 24px;
  display: flex;
  align-items: center;
}
.selection-option-supp-food .options {
  display: flex;
  gap: 10px;
}
.footer-box-content-drawer-order-food {
  height: 13%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  bottom: -10px;
  background-color: white;
  box-shadow: 0 0 10px rgba(168, 160, 160, 0.5);
}
.box-control-quantity {
  width: 38%;
  height: 100%;
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-control-quantity button {
  background-color: white;
  border: 1px solid #f0efef;
  border-radius: 6px;
  color: #23bddb;
  font-weight: 600;
}
.box-control-quantity button,
.box-control-quantity p {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.btn-add-product-in-page-order {
  width: 60%;
  height: 100%;
  padding: 20px;
}
.btn-add-product-in-page-order button {
  width: 100%;
  height: 100%;
  background-color: #00b14f;
  border-radius: 10px;
  color: white;
  font-weight: 500;
}
